
## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.


** What is 7 to the power of 4?**

In [ ]:
x = pow(7,4)
x

2401

**Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"
a=s.split()
a

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

tuple is immutable list is mutable

In [ ]:
l=[2,3,4]
t=(1,2,3)
l[1]=5
l
# t[1]=5 cannot do this

[2, 5, 4]

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  print("your domain is:" + email.split("@")[-1])

email=input("enter the email : ")
domainGet(email)

enter the email : user@domain.com
your domain is:domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def Dog(a):
  if 'dog' in a.lower():
    print("True")
  else:
    print("False")

a=input("enter the string : ")
Dog(a)

enter the string :dog
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
string = input("Please enter your string: ")

def countsdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
    return count

countsdogs(string)

Please enter your string: the dog dog

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [1]:
Employees = ["PADMAPRABHAN","ARUL","KUMAR","RAJ","DINESH"] 
Salary = {}
for emp in Employees: 
    try:
        amount = int(input(f'Enter salary for {emp}: ')) 
        Salary[emp] = amount
    except ValueError:
        print(f'Wrong salary input for {emp} ')
print(Salary)
print('Total salary : ',sum(Salary.values()))

Enter salary for PADMAPRABHAN: 45000
Enter salary for ARUL: 35000
Enter salary for KUMAR: 15000
Enter salary for RAJ: 60000
Enter salary for DINESH: 42000
{'PADMAPRABHAN': 45000, 'ARUL': 35000, 'KUMAR': 15000, 'RAJ': 60000, 'DINESH': 42000}
Total salary :  197000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [2]:
dict_1 = {'Empid':1,'Empname':'PADMAPRABHAN','Basicpay':45000}
dict_2 = {'DeptName':'CSE','DeptId':1100} 
dict_1.update(dict_2)
print(dict_1)

{'Empid': 1, 'Empname': 'PADMAPRABHAN', 'Basicpay': 45000, 'DeptName': 'CSE', 'DeptId': 1100}